<div class="container">
  <%# @podcasts.each do |podcast| %>
    <div class="list-group">
      <a href="/podcasts/<%# podcast.id %>1">
        <p class="list-group-item" >Title: <%#= podcast.title %></p>
      </a>
      <p class="list-group-item">Description: <%#= podcast.description %></p>

    </div>
  <%# end %>
</div>

