<!-- <div class="container">
  <form method="post" action="/sessions/login">
    <div class="form-group">
      <input type="text" class="form-control" name="email" placeholder="Email">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" value="Submit" class="btn btn-default">Log in</button>
  </form>
</div> -->

<div class="jumbotron">
  <h1>Sign up</h1>
  <p>If you want to intrjekt, you'll have to sign up, do it, it's easy!</p>
</div>