.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
db/schema.rb
.*.sw*
config/database.rb
.bundle
/public/system/*
rerun.txt
pickle-email-*.html
.project
*.sassc
.sass-cache
