<div class="container">
  <form method="post" action="/users">
    <div class="form-group">
        <!-- <label for="exampleInputPassword1">First name</label> -->
        <input name="first_name" type="" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputPassword1">Last name</label> -->
        <input name="last_name" type="" class="form-control" placeholder="Last name">
      </div>
    <div class="form-group">
        <!-- <label for="exampleInputPassword1">First name</label> -->
        <input name="user_name" type="" class="form-control" placeholder="User name (required)">
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputPassword1">Date of birth</label> -->
        <input name="date_of_birth" type="" class="form-control" placeholder="Date of birth">
      </div>
    <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email</label> -->
        <input name="email" type="text" class="form-control" placeholder="Email (required)">
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input name="password" type="text" class="form-control" placeholder="Password (required)">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
